body{
    background: linear-gradient(90deg, #2B1042 0%, #C0A9C7 7%);
    
}
 
#caixa {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    border-radius:10px;
    box-shadow: 5px 5px 5px #000;
    background: #fff;

}


header{
    background: linear-gradient(219deg, #581379 0%, #c48ec4 100%);
    text-align: center;
    padding:0px;
    border-radius:15px;
    overflow: hidden;
    
}
nav {
    text-align:center;
}

nav > a {
    color:#f00;
}

nav > a{
    color: rgb(249, 252, 251);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.5em;
}

nav >a:hover {
    color: rgb(255, 98, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.5em;
    text-align: center;
}
header >img {
    width: 33.33%;
    max-width: 50%;
    max-height:154px;
    min-height:154px;
    
}

h1 { 
    text-align:center;
}

.hide{
    display: none;
}

.vermelho{
    color: #f00;
}

/* .azul{
    color: #ff0;
} */


article{
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}

iframe { 
    height:300px;
    width:300px;
}
article >p{
    text-align:center;
}


aside{
    margin-top:50px;
    background: linear-gradient(219deg, #581379 0%, #c48ec4 100%);
    text-align: center;
    padding:0px;
    border-radius:15px;
    overflow: hidden;
}
aside >div{
    background: linear-gradient(180deg, #581379 0%, #c48ec4 100%);
    font-size:2em;
    font-weight:bold;
    color:#fff;
     
}

aside > form {
    margin:20px;
    text-align:center;
    font-weight:bold;

}
aside >form >input {
    height:30px;
    border-radius:10px;
    
    box-sizing: content-box;
    color:#000;
    font-size: 20px;
    text-align:center;
}
aside > span {
    color:#ff0;
}

footer{
    margin-top:10px;
    text-align:center;
}


input:hover{
    box-shadow: 0px 0px 10px 1px #ffffff;
}

.btn:hover{
    background:  #d4a0e4 ;
    box-shadow: 0px 0px 10px 1px #a95cd9;
}

.btn {
        border: 3px groove #7710DA;
        padding:5px;
        margin: 10px;
        color: #000;
        width:60px;
        height:30px;
        border-radius:7px;
        background:  #C0A9C7 ;
        
        text-decoration: none;
    }
    
    .espacado{
        
        text-align: right;
        
    }